
*
{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

body

{
background-image: url(photo-400.jpg);
background-size: 1260px;
background-positino: center;
background-repeat: no-repeat;
box-sizing: border-box;
font-family: sans-serif;
margin-left:180px;

}


.menu-bar
{
background: rgb(0,120,0);
text-align: center;
width:890px;
height:50px
}
.menu-bar ul
{
display: inline-flex;
list-style: none;
color: #fff;

}

.menu-bar ul li
{
width:120px;
margin: 10px;
padding: 5px;

}

.menu-bar ul li a

{

text-decoration:none;
color:#fff;

}
.active,.menu-bar ul li:hover
{

background: #2bab0d;
border-radius: 3px;

}
.menu-bar .fa
{
margin-right: 5px;
}

.sum-menu-1
{

display:none;

}
.menu-bar ul li:hover .sum-menu-1
{
display: block;
position:absolute;
background: rgb(0,120,0);
margin-top: 10px;
margin-left: 5px;

}

.menu-bar ul li:hover .sum-menu-1 ul
{
display:block;
margin:3px;

}

.menu-bar ul li:hover .sum-menu-1 ul li
{

width: 120px;
padding: 2px;
border-bottom: 1px dotted #fff;
background: transparent;
border-radius: 0;
text-align:left;

}

.menu-bar ul li:hover .sum-menu-1 ul li:last-child

{

border-bottom: none;
}

.menu-bar ul li:hover .sum-menu-1 ul li a:hover

{
color: #b2ff00;

}
.fa-angle-right
{
float: right;
}


#body
{
margin: 2px;
padding: 3px;
border: 05px solid rade;
width: 400px;
heitht: 700px;


}

.thamble{
width: 890px;
height:550px;
}



#marquee
{
margin: 2px;
padding: 3px;
border: 3px solid navy;
heignt: 40px;
width: 890px;
font-size: 20px;
}








#quotes
{

margin: 2px;
padding: 3px;
border: 05px solid red;
height:100px;
width: 150px;
background-image: url(images200.png);
text-align: justify;
font-size: 10px;
overflow: scroll;

}

.bodybox{
	width:900px;
	height:1000px;
}


#warapper
{
margin: 2px;
padding: 3px;
border: 05px solid pink;
background-image: url(images300.png);
background-size: cover;
background-position: center;
height:300px;
width: 294px;
background:ff3355;
overflow: scroll;
text-align: justify;
font-size: 20px;
float: left;
}



#love-box2
{

margin: 2px;
padding: 3px;
border: 05px solid green;
background: none;
background-position: center;
height:300px;
width: 294px;
overflow: scroll;
text-align: justify;
font-size: 20px;
float: left;
}

#love-box3

{

margin: 2px;
padding: 3px;
border: 05px solid blue;
background-image: url(photo-300.jpg);
background-size: cover;
background-position: center;
height:300px;
width: 294px;
overflow: scroll;
text-align: justify;
font-size: 20px;
float: left;
}



#love-box4

{

margin: 2px;
padding: 3px;
border: 05px solid blue;
background-image: url(images100.png);
background-position: center;
height:300px;
width: 294px;
overflow: scroll;
text-align: justify;
font-size: 20px;
float: left;
}



#love-box5

{

margin: 2px;
padding: 3px;
border: 05px solid blue;
background: none;
background-position: center;
height:300px;
width: 294px;
overflow: scroll;
text-align: justify;
font-size: 20px;
float: left;
}



#love-box6

{

margin: 2px;
padding: 3px;
border: 05px solid blue;
background-image: url(images200.png);
background-position: center;
height:300px;
width: 294px;
overflow: scroll;
text-align: justify;
font-size: 20px;
float: left;
}



#love-box7

{

margin: 2px;
padding: 3px;
border: 05px solid blue;
background-image: url(images100.png);
background-size: cover;
background-position: center;
height:300px;
width: 294px;
overflow: scroll;
text-align: justify;
font-size: 20px;
float: left;
}


#love-box8

{

margin: 2px;
padding: 3px;
border: 05px solid blue;
background-image: url(images100.png);
background-size: cover;
background-position: center;
height:300px;
width: 294px;
overflow: scroll;
text-align: justify;
font-size: 20px;
float: left;
}

#love-box9

{

margin: 2px;
padding: 3px;
border: 05px solid blue;
background-image: url(images100.png);
background-size: cover;
background-position: center;
height:300px;
width: 294px;
overflow: scroll;
text-align: justify;
font-size: 20px;
}
